.header-calendar-left {
    float: right;
    padding-bottom: 10px;
}

.calendar-legend {
    margin-top: 10px;
    font-size: 14px;
}

.legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 3px;
}