.span {
    text-decoration: underline;
}

.text {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.d-flex {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 32px;
    height: 32px;
}

.search {
    height: 32px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.content {
    display: flex;
    gap: 6px;
}

.day {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.text {
    font-weight: 500;

}