/* .add-skill-button {
    background-color: #fff; 
    border-color: #d9d9d9; 
    color: #1890ff; 
    font-weight: bold; 
    border-radius: 4px; 
    min-width: 100%; 

    padding: 8px 16px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.add-skill-button:hover {
    background-color: #e6f7ff; 
    border-color: #40a9ff;
    color: #0050b3; 
}

.add-skill-button:focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); 
}


.button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
}

.bt-right {
    display: flex;
    gap: 10px;
    margin-left: auto; 
    position: absolute; 
    right: 40px; 
    transform: translateY(-50%); 
}


.cancel-button {
    color: red; 
}

.save-button {
    background-color: #6366f1;
    color: white; 
}


.cancel-button:hover {
    background-color: #ff4d4f;
    color: white; 
}

.save-button:hover {
    background-color: #4c51bf; 
    color: white; 
} */
