.titleMenu {
    font-size: 1.6rem !important;
    letter-spacing: -.025em !important;
    font-weight: 700 !important;
}

.button-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-right: 1100px; 
  }
  

 