.trainer-container-profile {
  height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.trainer-container-profile::-webkit-scrollbar {
  display: none;
}
