:root {
  --primary-color: #5750DF;
  --background-color: #F3F3F3;
  --border-color: #e8e8e8;
  --text-color-dark: #333;
  --text-color-light: #666;
}

.trainer-container-profile {
  height: calc(100vh - 260px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.trainer-container-profile::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.custom-collapse {
  background: var(--background-color);
  margin-bottom: 20px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15);
}

.custom-panel .ant-collapse-header {
  background: var(--background-color);
}

.panel-header {
  font-weight: bold;
}

.general-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

.general-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

.general-info-row:last-of-type {
  border-bottom: none;
}

.general-info-row:not(:nth-child(3n)) {
  border-right: 1px solid var(--border-color);
}

.general-info-label {
  width: 40%;
  background-color: #f0f0f0;
  padding: 5px;
  box-sizing: border-box;
  font-weight: bold;
  color: var(--text-color-dark);
}

.general-info-value {
  width: 60%;
  text-align: right;
  border-left: 1px solid var(--border-color);
  padding-left: 10px;
  box-sizing: border-box;
  color: var(--text-color-light);
}

.skills-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.skills-table th,
.skills-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

.skills-table th {
  background-color: #f0f0f0;
  color: var(--text-color-dark);
  font-weight: bold;
}

.skills-input,
.general-input,
.general-select,
.skills-select {
  width: 100%;
  box-sizing: border-box;
}

.edit-buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center; /* Ensures vertical alignment */
}

.edit-buttons button {
  width: 117px;
  border-radius: 50px;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease; /* Adds smooth hover transition */
}

.edit-buttons button:hover {
  background-color: darken(var(--primary-color), 10%); /* Darkens on hover */
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .general-info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .general-info-label,
  .general-info-value {
    width: 100%;
    padding: 5px;
    text-align: left;
  }

  .general-info-grid {
    padding: 5px;
    gap: 5px;
  }

  .skills-table th,
  .skills-table td {
    font-size: 0.8rem;
    padding: 6px;
  }

  .edit-buttons button {
    width: 100%;
  }

  .add-skill-button {
    width: 100%;
  }

  .trainer-container-profile {
    height: calc(100vh - 200px);
  }
}

/* Additional tweaks for larger screens */
@media (min-width: 1024px) {
  .general-info-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .general-info-row {
    padding: 15px;
  }

  .general-info-label,
  .general-info-value {
    font-size: 1.1rem;
  }

  .skills-table th,
  .skills-table td {
    font-size: 1rem;
  }

  .edit-buttons button {
    width: auto;
    margin-bottom: 0;
  }
  
}
.bt-ad {
  width: 100%; /* Makes the button take full width of the container */
  max-width: 100%; /* Optional: maximum width of the button */
  margin: 0 auto; /* Center align the button horizontally */
}

.skills-input {
  width: 100%; /* Ensures that input fields for skills are full-width */
}

.skills-select {
  width: 100%; /* Ensures that select fields for skills are full-width */
}


.custom-button {
  background-color: white; /* White background */
  border: 2px solid #030303; /* Blue border */
  color: #000000; /* Blue text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  font-weight: bold; /* Bold text */
}

.custom-button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}


.icon-small {
  color: red; /* Set the icon color */
  font-size: 16px; /* Set the desired size */
}
.icon-small:hover{
color: #b30000;
}






