.layout-container {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.layout-container::-webkit-scrollbar {
    display: none;
}

.layout-container {
    scrollbar-width: none;
}

.layout-container {
    -ms-overflow-style: none;
}

.search-container {
    display: flex;
    margin-bottom: 16px;
    box-shadow: none;
}

.custom-collapse {
    background: #F3F3F3;
    margin-bottom: 20px;
    box-shadow: 0px 8px 5px 0px #00000026;
}

.custom-panel .ant-collapse-header {
    background: #F3F3F3;
}

.panel-header {
    font-weight: bold;
}

.ant-tag {
    border-radius: 20px;
    padding: 4px 12px;
}

.status-in-progress {
    background-color: #D8FAE6;
    color: #648A77
}

.status-not-started {
    background-color: #FFF2CC;
    color: #947032;
}

.status-closed {
    background-color: #BDBDBD;
    color: #ECECEC;
}

.status-cancel {
    background-color: #FFF1F0;
    color: #CF1322;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    border: 1px solid #e8e8e8;
}

.ant-table-thead>tr>th:not(:last-child),
.ant-table-tbody>tr>td:not(:last-child) {
    border-right: none;
}

.ant-table-tbody>tr:not(:last-child)>td {
    border-bottom: none;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    padding: 12px 16px;
}

.option-content {
    display: flex;
    justify-content: center;
    align-items: center;
}