.calendar-container-trainer {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 280px);
}

.left-calendar-trainer .ant-picker-calendar {
    flex: 1;
    max-width: 250px;
    padding: 20px;
    background-color: #e8e8e8;
}

.left-calendar-trainer .ant-picker-panel {
    background-color: #e8e8e8;
}

.right-calendar-trainer {
    margin-left: 5px;
    flex: 1;
    overflow-y: hidden;
    height: calc(100vh - 200px);
}

.right-calendar-trainer .fc-scroller {
    overflow-y: auto;
}

.right-calendar-trainer .fc-timegrid {
    overflow: hidden;
}

.custom-modal {
    border-radius: 8px;
}

.custom-modal .ant-modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.right-calendar-trainer .fc-event-title {
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.right-calendar-trainer .fc-event {
    background-color: #e8e8e8;
    border: none;
}

.right-calendar-trainer .fc-scrollgrid-sync-inner a {
    text-decoration: none;
    color: black;
}

.right-calendar-trainer .fc-timegrid-slot-minor {
    border-top-style: solid;
}

.event-fresher {
    background-color: orange !important;
}

.event-intern {
    background-color: green !important;
}

.event-free_time {
    background-color: #509ADF75 !important;
}

@media (Max-width: 768px) {

    .left-calendar-trainer .ant-picker-calendar {
        max-width: 190px;
    }

    .right-calendar-trainer {
        max-width: calc(100vw - 196px);
    }
}

@media (Max-width: 678px) {

    .calendar-container-trainer {
        display: block;
        justify-content: space-between;
        align-items: center;
        height: calc(100vh - 230px);
        overflow-y: auto;
    }

    .calendar-container-trainer::-webkit-scrollbar {
        display: none;
    }

    .left-calendar-trainer .ant-picker-calendar {
        max-width: 100%;
    }

    .right-calendar-trainer {
        max-width: 100vh;
    }

    .right-calendar-trainer .fc .fc-toolbar-title {
        font-size: 0.75rem;
    }

    .right-calendar-trainer .fc-scrollgrid-sync-inner a {
        font-size: 11px;
    }

    .fc-direction-ltr .fc-timegrid-slot-label-frame {
        text-align: center;
        font-size: 0.6rem;
    }
}