.date-time-picker-container-trainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.switch-container-trainer {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.switch-label-trainer {
    margin-left: 8px;
}

.recur-container-trainer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
}

.input-number-trainer {
    width: 60px;
    margin: 0 10px;
}

.checkbox-container-trainer {
    margin-top: 10px;
}

.checkbox-grid-trainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.save-button-trainer {
    background-color: #6F4DE7;
    border-color: #6F4DE7;
}